@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Diego Castillo - 296885 | Guillermo Plisich - 239377</h1>
    <p>Obligatorio - Programacion 3 - 2da Parte.</a></p>
</div>
